.hcs-description-check span.umb-tree-icon{
    position:relative;
}

.hcs-description-check span.umb-tree-icon:after{
    content: '' !important;
    display: inline-block;
    width: 8px;
    height: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    position:absolute;
    top: -2px;
    right:-8px;
}

.hcs-description-check.__missing  span.umb-tree-icon:after
{    
    background-color: #6e1a00; 
}

.hcs-description-check.__found  span.umb-tree-icon:after
{    
    background-color: #116f11; 
}